@charset "utf-8";
@import "comm.less";
body {
  font-family: "Microsoft yahei";
  color: #5a5a5a;
  height: 4000px;
  background: #fff;
}
.menu {
  padding: 20px;
  transition: all 0.8s;
  a {
    &.navbar-brand {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 900;
      color: #fff;
    }
  }
  &.navbar-default {
    background-color: rgba(248,248,248,0);
    border-color: rgba(231,231,231,0);
    .navbar-nav {
      &>li {
        background: inherit;
        &>a {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px;
          color: #fff;
          background: none;
        }
        &.active {
          &>a {
            color: #fcac45;
            background-color: transparent;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ccc;
  border-color: #ccc;
  &>.icon-bar {
    background-color: #fff;
  }
}
.home {
  background-image: url(../imgs/bg-01.jpg);
  background-position: center;
  background-size: cover;
  /*固定背景图片*/
  background-attachment: fixed;
  color: #cfcfcf;
  .overlay {
    height: 750px;
  }
  p {
    &.lead {
      color: #e3e3e3;
    }
  }
}

.content {
  position: relative;
  padding: 20% 0 0 0;
}
.colors {
  color: #fcac45;
}
.arrow-more {
  font-size: 24px;
  color: #fff;
  border: 2px solid #b4b4b4;
  padding: 4px;
  border-radius: 50%;
  margin-top: 200px;
  transition: all 0.5s;
  animation: updown 1s infinite alternate;
}
/*=== about us begin ===*/
.about {
  padding: 60px 0 88px;
  .about-list {
    margin: 30px 0 0;
  }
  li {
    line-height: 30px;
  }
}
.section-title {
  h4 {
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    line-height: 20px;
    font-size: 28px;
    margin: 0;
  }
  hr {
    border-color: #fcac45;
    border-width: 4px;
    width: 60px;
    float: left

  }
  .info {
    font-size: 16px;
    margin: 15px 0 0;
    line-height: 24px;

  }
}
/*=== about us end ===*/

/*===services begin ===*/
.services {
  margin: 40px 0 0;
}
.service-devices {
  margin-top: 35px;
  h4 {
    margin: 15px 0 6px 0;
  }
}
/*===services end ===*/
.team {
  .overlay {
    padding: 80px 0;
  }
  .team-item {
    background-color: transparent;
  }
}
.team-item {
    .thumbnail {
      background-color: transparent;
      border: none;
      .caption {
        color: #fff;
      }
      img {
        display: block;
        width: 120px;
        height: 120px;
        border: 4px solid transparent;
      }
    }
    a {
      display: block;
      border: 4px solid transparent;
      margin: 15px;
      &:hover {
        .thumbnail {
          &>img {
            border-color: #fcac45;
          }
        }
      }
    }
}

.services,
.team-bg,
.filter-img {
  .line {
    position: relative;
    border-top-style: solid;
    border-color: #fcac45;
    border-width: 4px;
    width: 80px;
    margin: 20px auto 40px auto;
  }
  hr {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgba(252, 172, 69, 0.34);
  }
}
.team-bg {
  background: url(../imgs/bg-02.jpg) no-repeat center fixed;
  background-size: cover;
  color: #fff;
  .overlay {
    height: auto;
  }
}

.filter-img {
    padding: 80px 0;
}

.icon-diy {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 4px solid #fcac45;
  font-size: 40px;
  padding: 27px 25px;
  border-radius: 50%;
  &:hover {
    background: #fcac45;
    border-color: #fcac45;
    color: #fff;
  }
}

/*===设置owl插件指示器的样式 begin===*/
.owl-theme {
  .owl-controls {
    .owl-page {
      &.active {
        span {
          background-color: #fcac45;
        }
        &:hover {
          span {
            background-color: #fcac45;
          }
        }
      }
      &:hover {
        span {
          background: #fff;
        }

      }
      span {
        border-radius: 0;
      }
    }
  }
}
/*===设置owl插件指示器的样式 end===*/
